body{
    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
#grid-container{
    display: grid;
   /* grid-template: repeat(3,1fr)/repeat(4,1fr);*/
    grid-gap:0px;
    grid-template-areas:
        'n n n '
        'm m m '
        'f f f ';
}
#navItem{
    grid-area:n;
    background-color: white; 
    
    text-align: right;
    
}
#mainItem{
    grid-area:m;
    background-color: white;
    align-items: center;
    padding:0 20% 0 20% ;
   
   
    
}


#footerItem{
    grid-area:f;
    background-color: white;
    height: 3rem;
    bottom:0rem;
    padding-left: 16%;
    align-items: center;
    

}
a:hover {
    
        box-shadow: 1px;
        border-color: azure;
        text-decoration: none;
        filter: opacity(50%);
        
       
}
#navlist{
    text-align: center;
    color: black;
    display: inline;
    
}
li{
    display: inline;
    align-items: right;
   
}
ul{
    list-style-type: none;
}
nav > li >a {
    text-align: center;
    text-decoration: none;
    color: plum;

    
    
    
    
}

ul> li> a.active{
    background-color: plum;
    border-radius: 3px;
    color: white;
}
li a:hover:not(.active){
    background-color: purple;
    color: white;
    border-radius: 3px;
}
a{
    text-decoration: none;
    text-decoration-style: none;
    padding:0 4px 0 3px;
    color: plum;
}
#footerItem >ul > li > a{
    padding:0 0 0 0;


}
.stronglink{
    color: black;
    text-decoration: none;
    background-color: plum;
    opacity: 30%;
    border-radius: 3px;
}
.stronglink:hover{
    text-decoration:none;
    background-color: plum;
    border-radius: 3px;
    opacity: 95%;

}

