*{
    background-color: whitesmoke;
}
body{

    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    
}
#grid-container{
    display: grid;
   /* grid-template: repeat(3,1fr)/repeat(4,1fr);*/
    grid-gap:0px;
    grid-template-areas:
        'n n n '
        'm m m '
        'f f f ';
}
#navItem{
    grid-area:n;
    display: inline-flex;
    align-items: center;
    background-color: white; 
<<<<<<< HEAD
   
=======
    justify-content: space-around;
>>>>>>> 5e387b72cc2d04ada4e866b16c0625c68651ecb6
    justify-content: center;
    
    text-align: right;
    
    border: 3px dotted pink;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
<<<<<<< HEAD
    width:100%;
=======
>>>>>>> 5e387b72cc2d04ada4e866b16c0625c68651ecb6
    
    


    
    
}
 .mypicture{
        width: 5%;
        height: 3%;
        border-radius:100%;
        margin-top: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
#mainItem{
    grid-area:m;
    background-color: white;
    align-items: center;
    padding:0 20% 0 20% ;
   
   
    
}
h1{
    color:purple;
}



a:hover {
    
        box-shadow: 1px;
        border-color: azure;
        text-decoration: none;
        filter: opacity(50%);
        
       
}
#navlist{
    text-align: center;
    color: black;
    display: inline;
    
}
li{
    display: inline;
    align-items: right;
   
}
ul{
    list-style-type: none;
}
nav > li >a {
    text-align: center;
    text-decoration: none;
    color: plum;

    
    
    
    
}

ul> li> a.active{
    background-color: plum;
    border-radius: 3px;
    color: white;
}
li a:hover:not(.active){
    background-color: purple;
    color: white;
    border-radius: 3px;
}
a{
    text-decoration: none;
    text-decoration-style: none;
    padding:0 4px 0 3px;
    color: plum;
}
#footerItem >ul > li > a{
    padding:0 0 0 0;


}
#viewProject a{
    transition: all 0.2s linear;

}
#viewProject a:hover{
    transform: translateX(30%);
    transition: all 0.2s linear;
}

.stronglink{
    color: black;
    text-decoration: none;
    background-color: plum;
    opacity: 30%;
    border-radius: 3px;
}
.stronglink:hover{
    text-decoration:none;
    background-color: plum;
    border-radius: 3px;
    opacity: 95%;

}

#footerItem{
    grid-area:f;
    background-color: white;
    height: 3rem;
    bottom:0rem;
    padding-left: 16%;
    align-items: center;
    

<<<<<<< HEAD
}
/*Styling for project display page*/

.flexContainer{
        display: flex;

        flex-wrap: wrap;
        /*justify-content: space-around;*/
        width: 100%;
        justify-content: center;
        align-items: center;
}

#item1{
        
    width: 40%;
    height: auto;
    order:1;
   
    
}
 #item2{
        
    width: 40%;
    height: atuo;
    order: 2;
   
    
}
#item3{
        
    width: 40%;
    height: auto;
    order:3;
   
    
}
#item4{
        
    width: 40%;
    height: auto;
    order: 4;
   
    
}
#item5{
        
    width: 40%;
    height: auto;
    order: 5;
   
    
}
#item6{
    width: 40%;
    height: auto;
    order: 6;
}

.flextItems{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 30px;
    

   
}
#item1:hover,#item2:hover,#item3:hover{
    
    border-radius: 4px;
    box-shadow:0.3em 0.3em 0.3em 0.3em rgba(0,0,0,0.2);
    transition: margin-right 2s;
}
.flextItems aside{
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica,sans-serif;
    margin: 2em;
    margin-bottom: 1em;
    color: purple;


}
aside>a:hover{
    color: purple;
}
#item1,#item2,#item3,#item4,#item5,#item6{
    border:0.5px solid purple;
    border-radius: 4px;
    box-shadow:0.2em 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
    
}


.portImage{
    max-width: 100%;
    height: auto;
    display: block;
    
    
  
}
@media only screen and (max-width: 832px){
    .flexContainer{
       
        flex-direction: column;
        /*justify-content: space-around;*/
        width: 100%;
        
    }

    #item1{
        width: 50%;

    }
    #item2{
        width: 50%;
        
    }

    #item3{
        width: 50%;
        
    }
    #item4{
        width: 50%;
        
    }
    #item5{
        width: 50%;
        
    }
    #item6{
        width: 50%;
        
    }
    .portImage{
        width: 100%;
    }

}

@media only screen and (max-width:480px){

    .flexContainer{
       
        flex-direction: column;
        /*justify-content: space-around;*/
        
        
        
    }
    .flextItems{
        width: 90%;
    }
  
    #item1,#item2,#item3,#item4,#item5,#item6{
        width: 90%;
        min-width: 300px;
        

    }
    .portImage{
        width:100%;
        min-width: 300px;

       
    }
}


=======
}
>>>>>>> 5e387b72cc2d04ada4e866b16c0625c68651ecb6
